@use "@/variables" as *;
@use "@/mixins" as *;

@mixin button ($background-color, $background-color2, $border-color, $text-color, $inactive: false) {
	@include roundedCorners();
	background-color: $background-color;
  	background-image: linear-gradient($background-color, $background-color2);
	border: 1px solid $border-color;
	color: $text-color;
	height: fit-content;
	min-width: 100px;
	padding: 7px 10px;
	text-align: center;
	width: fit-content;
	@if $inactive{
		cursor: not-allowed;
	}
	@else{
		cursor: pointer;
	}
	&:hover{
		background-color: $background-color;
		background-image: linear-gradient($border-color, $background-color2);
		border: 1px solid $border-color;
	}
	&:active{
		background-image: linear-gradient($background-color2, $background-color2);
	}
	&:disabled{
		background-color: $color-neutral-light;
		background-image: none;
		border: 1px solid $color-neutral-darker;
		color: $color-neutral-darker;
		cursor: not-allowed;
		&:hover{
			background-color: $color-neutral-light;
			background-image: none;
			border: 1px solid $color-neutral-darker;
			color: $color-neutral-darker;
			cursor: not-allowed;
		}
	}
	&:focus {
		filter: drop-shadow(0px 0px 8px $color-tertiary);
	}
}

// buttons to take lesser/secondary actions
.button-basic{
	@include button($color-neutral-lightest, $color-neutral-lighter, $color-neutral-darker, $color-neutral-darkest);
	&:hover {
		background-color: $color-primary-lightest;
	}
}
// buttons to take an important action
.button-action{
	@include button($color-tertiary-lightest, $color-tertiary-lighter, $color-tertiary, $color-tertiary-darkest);
}

.button-action-square {
	@include button($color-tertiary-lightest, $color-tertiary-lighter, $color-tertiary, $color-tertiary-darkest);
	min-width: 33px;
	min-height: 33px;
	padding: 1px;
	border-radius: 20%;
	margin-right: 8px;
	&:focus {
		filter: drop-shadow(0px 0px 8px $color-tertiary);
		border-radius: 20%;
	}
}

.button-action-round {
	@include button($color-tertiary-lightest, $color-tertiary-lighter, $color-tertiary, $color-tertiary-darkest);
	min-width: 33px;
	min-height: 33px;
	padding: 3px;
	border-radius: 50%;
	margin-right: 8px;
	&:focus {
		filter: drop-shadow(0px 0px 8px $color-tertiary);
		border-radius: 50%;
	}
}


// buttons that save to the DB or indicate success, always important
.button-save{
	@include button($color-success-lightest, $color-success-lighter, $color-success, $color-success-darker);
}
// buttons that remove or delete information, always important
.button-danger{
	@include button($color-danger-lightest, $color-danger-lighter, $color-danger, $color-danger-darkest);
	&:hover {
		color: $color-neutral-lightest;
	}
}
// buttons to clear or cancel
.button-cancel{
	@include button(transparent, transparent, $color-neutral, $color-danger);
	&:hover {
		background-color: $color-danger-lightest;
		background-image: linear-gradient($color-danger-lighter, $color-danger-lightest);
		border: 1px solid $color-danger-lighter;
		color: $color-danger-darker;
	}
}

.button-cancel-square {
	@include button(transparent, transparent, $color-neutral, $color-danger);
	&:hover {
		background-color: $color-danger-lightest;
		background-image: linear-gradient($color-danger-lighter, $color-danger-lightest);
		border: 1px solid $color-danger-lighter;
		color: $color-danger-darker;
	}
	min-width: 10px;
	padding: 3px;
	border-radius: 15%;
}

.button-cancel-round {
	@include button(transparent, transparent, $color-neutral, $color-danger);
	&:hover {
		background-color: $color-danger-lightest;
		background-image: linear-gradient($color-danger-lighter, $color-danger-lightest);
		border: 1px solid $color-danger-lighter;
		color: $color-danger-darker;
	}
	min-width: 10px;
	padding: 3px;
	border-radius: 50%;
}


// MUI Buttons
.MuiIconButton-root {
	&[aria-label="delete"] svg{
		color: $color-primary-darkest;
		&:hover{
			color: $color-danger;
		}
	}
}