@import "/src/variables";

.print-items-box1 {
    position: relative;
    width: 8.5in;
    height: 11in;
}

.item11front {
        position: absolute;
        top: 10px;
        left: 15px;
        padding: 5px;
}
.item12front {
    position: absolute;
    top: 418px;
    left: 15px;
    padding: 5px;
}
.item13front {
    position: absolute;
    top: 10px;
    right: 256px;
    padding: 5px;
}
.item14front {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
}
.item15front {
    position: absolute;
    top: 351px;
    right: 256px;
    padding: 5px;
}
.item16front {
    position: absolute;
    top: 351px;
    right: 15px;
    padding: 5px;
}
.item17front {
    position: absolute;
    top: 692px;
    right: 256px;
    padding: 5px;
}
.item18front {
    position: absolute;
    top: 692px;
    right: 15px;
    padding: 5px;
}






.item11back {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
}
.item12back {
position: absolute;
top: 423px;
right: 15px;
padding: 5px;
}
.item13back {
position: absolute;
top: 15px;
left: 256px;
padding: 5px;
}
.item14back {
position: absolute;
top: 15px;
left: 15px;
padding: 5px;
}
.item15back {
position: absolute;
top: 356px;
left: 256px;
padding: 5px;
}
.item16back {
position: absolute;
top: 356px;
left: 15px;
padding: 5px;
}
.item17back {
position: absolute;
top: 697px;
left: 256px;
padding: 5px;
}
.item18back {
position: absolute;
top: 697px;
left: 15px;
padding: 5px;
}
