@import "/src/variables";

.print-items-box1 {
    position: relative;
    width: 8.5in;
    height: 11in;
}

.item01front {
        position: absolute;
        top: 0px;
        right: 492px;
        padding: 5px;
}
.item02front {
    position: absolute;
    top: 0px;
    right: 246px;
    padding: 5px;
}
.item03front {
    position: absolute;
    top: 0px;
    right: 5px;
    padding: 5px;
}
.item04front {
    position: absolute;
    top: 341px;
    right: 492px;
    padding: 5px;
}
.item05front {
    position: absolute;
    top: 341px;
    right: 246px;
    padding: 5px;
}
.item06front {
    position: absolute;
    top: 341px;
    right: 5px;
    padding: 5px;
}
.item07front {
    position: absolute;
    top: 682px;
    right: 492px;
    padding: 5px;
}
.item08front {
    position: absolute;
    top: 682px;
    right: 246px;
    padding: 5px;
}
.item09front {
    position: absolute;
    top: 682px;
    right: 5px;
    padding: 5px;
}

.item01back {
    position: absolute;
    top: 5px;
    left: 492px;
    padding: 5px;
}
.item02back {
position: absolute;
top: 5px;
left: 246px;
padding: 5px;
}
.item03back {
position: absolute;
top: 5px;
left: 5px;
padding: 5px;
}
.item04back {
position: absolute;
top: 346px;
left: 492px;
padding: 5px;
}
.item05back {
position: absolute;
top: 346px;
left: 246px;
padding: 5px;
}
.item06back {
position: absolute;
top: 346px;
left: 5px;
padding: 5px;
}
.item07back {
position: absolute;
top: 687px;
left: 492px;
padding: 5px;
}
.item08back {
position: absolute;
top: 685px;
left: 246px;
padding: 5px;
}
.item09back {
position: absolute;
top: 687px;
left: 5px;
padding: 5px;
}

