@use "@/variables" as *;

.print-items-box1 {
    position: relative;
    width: 8.5in;
    height: 11in;
}

.item21front {
        position: absolute;
        top: 10px;
        left: 15px;
        padding: 5px;
}
.item22front {
    position: absolute;
    top: 10px;
    left: 276px;
    padding: 5px;
}
.item23front {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
}
.item24front {
    position: absolute;
    top: 351px;
    right: 15px;
    padding: 5px;
}
.item25front {
    position: absolute;
    top: 692px;
    right: 502px;
    padding: 5px;
}
.item26front {
    position: absolute;
    top: 692px;
    right: 256px;
    padding: 5px;
}
.item27front {
    position: absolute;
    top: 692px;
    right: 15px;
    padding: 5px;
}

.item21back {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
}
.item22back {
position: absolute;
top: 15px;
right: 276px;
padding: 5px;
}
.item23back {
position: absolute;
top: 15px;
left: 15px;
padding: 5px;
}
.item24back {
position: absolute;
top: 356px;
left: 15px;
padding: 5px;
}
.item25back {
position: absolute;
top: 697px;
left: 502px;
padding: 5px;
}
.item26back {
position: absolute;
top: 697px;
left: 256px;
padding: 5px;
}
.item27back {
position: absolute;
top: 697px;
left: 15px;
padding: 5px;
}



.item31front {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px;
}
.item32front {
position: absolute;
top: 10px;
left: 276px;
padding: 5px;
}
.item33front {
position: absolute;
top: 422px;
left: 15px;
padding: 5px;
}
.item34front {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    }
.item35front {
position: absolute;
top: 351px;
right: 15px;
padding: 5px;
}
.item36front {
position: absolute;
top: 692px;
right: 256px;
padding: 5px;
}
.item37front {
position: absolute;
top: 692px;
right: 15px;
padding: 5px;
}



.item31back {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
}
.item32back {
position: absolute;
top: 15px;
right: 276px;
padding: 5px;
}
.item33back {
position: absolute;
top: 427px;
right: 15px;
padding: 5px;
}
.item34back {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px;
    }
.item35back {
position: absolute;
top: 356px;
left: 15px;
padding: 5px;
}
.item36back {
position: absolute;
top: 697px;
left: 256px;
padding: 5px;
}
.item37back {
position: absolute;
top: 697px;
left: 15px;
padding: 5px;
}


.item41front {
    position: absolute;
    top: 10px;
    left: 15px;
    padding: 5px;
}
.item42front {
position: absolute;
top: 10px;
left: 276px;
padding: 5px;
}
.item43front {
position: absolute;
top: 422px;
left: 15px;
padding: 5px;
}

.item44front {
    position: absolute;
    top: 422px;
    left: 276px;
    padding: 5px;
    }
    

.item45front {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    }
.item46front {
position: absolute;
top: 351px;
right: 15px;
padding: 5px;
}
.item47front {
position: absolute;
top: 692px;
right: 15px;
padding: 5px;
}




.item41back {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 5px;
}
.item42back {
position: absolute;
top: 15px;
right: 276px;
padding: 5px;
}
.item43back {
position: absolute;
top: 427px;
right: 15px;
padding: 5px;
}
.item44back {
    position: absolute;
    top: 427px;
    right: 276px;
    padding: 5px;
    }
.item45back {
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px;
    }
.item46back {
position: absolute;
top: 356px;
left: 15px;
padding: 5px;
}
.item47back {
position: absolute;
top: 697px;
left: 15px;
padding: 5px;
}

