@use "@/variables" as *;

.print-items-box {
    width: 100%;
    display: flex;
    &.print-items-column {
        height: 11in;
        padding: 35px 20px 0 40px;
        flex: 1;
        margin-right:1.5em;

    }
}