@import "/src/variables";

.print-items-box1 {
    position: relative;
    width: 8.5in;
    height: 11in;
}

.item01front {
        position: absolute;
        top: 10px;
        right: 502px;
        padding: 5px;
}
.item02front {
    position: absolute;
    top: 10px;
    right: 256px;
    padding: 5px;
}
.item03front {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
}
.item04front {
    position: absolute;
    top: 351px;
    right: 502px;
    padding: 5px;
}
.item05front {
    position: absolute;
    top: 351px;
    right: 256px;
    padding: 5px;
}
.item06front {
    position: absolute;
    top: 351px;
    right: 15px;
    padding: 5px;
}
.item07front {
    position: absolute;
    top: 692px;
    right: 502px;
    padding: 5px;
}
.item08front {
    position: absolute;
    top: 692px;
    right: 256px;
    padding: 5px;
}
.item09front {
    position: absolute;
    top: 692px;
    right: 15px;
    padding: 5px;
}

.item01back {
    position: absolute;
    top: 15px;
    left: 502px;
    padding: 5px;
}
.item02back {
position: absolute;
top: 15px;
left: 256px;
padding: 5px;
}
.item03back {
position: absolute;
top: 15px;
left: 15px;
padding: 5px;
}
.item04back {
position: absolute;
top: 356px;
left: 502px;
padding: 5px;
}
.item05back {
position: absolute;
top: 356px;
left: 256px;
padding: 5px;
}
.item06back {
position: absolute;
top: 356px;
left: 15px;
padding: 5px;
}
.item07back {
position: absolute;
top: 697px;
left: 502px;
padding: 5px;
}
.item08back {
position: absolute;
top: 695px;
left: 256px;
padding: 5px;
}
.item09back {
position: absolute;
top: 697px;
left: 15px;
padding: 5px;
}

