# Exclude dependencies and build outputs from the Docker build context
node_modules
.dist
/dist

# VCS and IDE files
.git
.gitignore
.idea
.vscode

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Misc
package-lock.json_OLD
