@import "/src/variables";
@import "/src/mixins";

.shipAbilites {
    margin-top: 8px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "OpenSans";
    font-size: 20pt;
    .seperator {
            margin-bottom: 10px;
    }
    .skill {
        margin-bottom: 8px;
    .skill-header {
        display: flex;
    .widthwrapper {
        width: 100%;
        display: grid;
        grid-template-rows: 20% 80%;
        
    }
    .name{
        font-family: "OpenSans";
        font-size: 12pt;
        font-weight: bold;
        text-decoration: underline;
        margin-right: 10px;
        overflow: hidden;
        justify-content: left;
    }

    .rank{
        font-family: "OpenSans";
        margin-right: 10px;
        font-size: 12pt;
        width: max-content;
    }
    .cost{
        font-family: "OpenSans";
        font-size: 11pt;
        width: max-content;
    }
    .skilldesc {
        font-family: "OpenSans";
        font-size: 10pt;
        margin-bottom: 0px;
        position: relative;
    }
}
    .skill-text {
        font-family: "OpenSans";
        font-size: 10pt;
        margin-bottom: 0px;
        position: relative;
    }
}


span {
    &.titlespan {
        margin-bottom: 0px;
        display:inline-flex; 
        width: max-content;
        margin-top: 0px;
    }
}
}
