@use "@/variables" as *;


div{
    &.widthwrapper {
        width: 100%;
        display: grid;
        grid-template-rows: 20% 80%;
        
    }
    &.skillName{
        font-family: "OpenSans";
        font-size: 8pt;
        font-weight: bold;
        text-decoration: underline;
        margin-right: 2px;
        overflow: hidden;
        justify-content: left;
    }

    &.rank{
        font-family: "OpenSans";
        margin-right: 10px;
        font-size: 8pt;
        width: max-content;
    }
    &.cost{
        font-family: "OpenSans";
        font-size: 7pt;
        width: max-content;
    }
    &.skilldesc {
        font-family: "OpenSans";
        font-size: 8pt;
        margin-bottom: 2px;
        position: relative;

    }
}

span {
    &.titlespan {
        margin-bottom: 2px;
        margin-top: 2px;
    }
}