@use "@/variables" as *;

div {
    font-family: OpenSans;
    &.imgAndAttributesCompanion5
    {
        height: 84px;
    }
    &.imgAndAttributesCompanion4
    {
        height: 68px;
    }
    &.companionItem {
        background-image: url("../../assets/backgroudpattern.png");
        text-indent: 4.1in, 2.625in; 
        background-size: 150px;
        height: 100%
        
    }  
    &.companionItemBox {
        border: 2px solid #87CEEB;
        border-radius: 5px;
        height: 4.1in;
        width: 2.625in;

    }
    &.companionItemText {
        background-color:#FFF;     
        height: 75%; 
        margin-bottom:2px;
        margin-left:auto;
        margin-right:auto; 
        max-width:95%; 
    }
    &.attributesgridwrapper
    {
        float: right;
        display: inline;
    }
    &.attributesgrid {
        margin-right: 3px;
        margin-top: 3px;
        width: auto;
         display: grid;
         grid-template-columns: auto 20px auto 20px;
         font-size: small;
         margin-bottom: 5px;
    }
    &.column1
    {
        font-weight: bold;
        font-size: 7.25pt;
    }
    &.column2
    {
        font-size: 7.25pt;
        text-align: center;
        font-weight: bold;
    }
        
        &.columnentry
        {
            width: auto;
            border: 1px solid black; 
            background-color: #f5f5f5;;
        }
&.bodyandenergywrap{
    overflow: auto;
    margin-bottom: 3px;
}
    
    &.bodywrap
    {
        font-size: x-small;
        overflow-wrap: break-word;
        width: 49%;
        text-align: left;
        display: inline;
        float: left;
        margin-bottom: 0px;

    }
    &.energywrap
    {
        font-size: x-small;
        overflow-wrap: break-word;
        width: 49%;
        text-align: left;
        display: inline;
        float: right;
        margin-bottom: 0px;

    }
    &.titletext
    {
        font-size: x-small;
    }
    &.resilience{
        float: left;
        display: inline;
        width: 47%;


    }
    &.grade{
        float: right;
        text-align: left;
        display: inline;
        width: 47%;
  
    }
    &.companionitemDescription {
        font-size:6pt;
        line-height:0.11in;
        width: 100%;
        margin: 0;
        p
        {
          margin: 0;
          padding: 0px;
        }
    } 

}



img {
    &.companionitemPic {
        border: 2px solid #87CEEB;  
        display: inline-block;
        margin-right: 3px;
        margin-left: 3px;
        margin-bottom: 5px;
        width: 35%;
    
}
}



p {
     margin: 0;
     padding: 1px;
    &.companionitemStats {
        font-size:8pt; 
        line-height:0.15in;
    }
    &.companionitemName {
        font-size: 8pt;
        font-weight: bold;
        margin-bottom: 2px;
        margin-top: 1px; 
        margin-left: 3px;
        padding:0px;
        float:left;
        background-color: white;
    }
    &.companionitemType {
        font-size: 8pt; 
        font-weight: bold;
        margin-bottom: 2px; 
        margin-right:3px;
        margin-top: 1px;  
        margin-left: 10px;
        padding: 0px;
        float:right;
        background-color: white;
    }

}

span {
    &.companionitemTitle {
        margin-bottom: 5px;
        display: flex; 
        justify-content: space-between;
        margin-bottom: 0px;
    }
    &.itemStats {
        display: inline-block;
        justify-content: space-between;
        font-size: x-small;
        width: 100%;
        margin: 0px;
        min-height: 0px;
    }
    &.busterCards2
    {
        display: inline-block;
        justify-content: space-between;
        font-size: x-small;
        min-height: 1px;
        margin-bottom: 0px;
    }
}
hr {
        margin-top: 0px;
        margin-bottom: 0px;
        border: none;
       height: 1.25px;
       /* Set the hr color */
       color: #333;  /* old IE */
       background-color: #333;  /* Modern Browsers */
    &.divideline
    {
        margin-top: 1px;
    }
}


