@use "@/variables" as *;
@use "@/mixins" as *;

.crewposition .MuiFormGroup-root {
            @include roundedCorners();
            border: 1px solid $color-primary-dark;
            box-sizing: border-box;
            display: grid;
            gap: 10px;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 20px;
            padding: 10px 10px 20px 10px;
            width: 100%;
        @media (max-width: 768px) {
            grid-column: 1 / 2;
            grid-template-columns: repeat(1, 1fr);
        }
        .remove-ability.button-cancel{
            float: right;
            margin-bottom: 5px;
        }
        .reorder-ability.button-action{
            float: right;
            margin-bottom: 5px;
            height: 25px;
            min-width: 25px;
}
       
    }
.power-description {
            grid-column: 1 / 3;
}