@use "@/variables" as *;
@use "@/mixins" as *;

// gm notes
.character-sheet-gm-notes {
    box-sizing: border-box;
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    .input-pair .MuiFormControl-root {
        @include roundedCorners();
        border: 1px solid $color-neutral-dark;
        padding-right: 0;
        &::before {
            border-bottom: 0;
        }
    }
}

.character-sheet-review-notes {
    display: block;
    margin-top: 20px;
    padding: 10px;
    width: 30%;
    .input-pair {
        @include roundedCorners();
        display: inline;
        padding-right: 0;
        &::before {
            border-bottom: 0;
        }
    }
}