
@font-face {
	font-family: OpenSans;
	src: URL('/fonts/OpenSans-Regular.ttf');

  }

@font-face {
	font-family: Berkshire Swash;
	src: URL('/fonts/BerkshireSwash-Regular.ttf');
}

@font-face {
	font-family: Walter Turncoat;
	src: URL('/fonts/WalterTurncoat-Regular.ttf');
}


@font-face {
	font-family: Kavoon;
	src: URL('/fonts/Kavoon-Regular.ttf');
}

@font-face {
	font-family: Rancho;
	src: URL('/fonts/Rancho-Regular.ttf');
}

@font-face {
	font-family: OpenDyslexic;
	src: URL('/fonts/OpenDyslexic-Regular.otf');
}

@font-face {
	font-family: Lexend;
    src: URL('/fonts/Lexend.ttf');
}