  @font-face {
	font-family: "OpenSans";
	src: local("OpenSans"),
	  URL('#{$font-folder}/OpenSans-Regular.ttf'), format('ttf');

  }

@font-face {
	font-family: "Berkshire Swash";
	src: local("Berkshire Swash"),
		URL('#{$font-folder}/BerkshireSwash-Regular.ttf'), format('ttf');
}

@font-face {
	font-family: "Walter Turncoat";
	src: local("Walter Turncoat"),
		URL('#{$font-folder}/WalterTurncoat-Regular.ttf'), format('ttf');
}


@font-face {
	font-family: "Kavoon";
	src: local("Kavoon"),
		URL('#{$font-folder}/Kavoon-Regular.ttf'), format('ttf');
}

@font-face {
	font-family: "Rancho";
	src: local("Rancho"),
		URL('#{$font-folder}/Rancho-Regular.ttf'), format('ttf');
}

@font-face {
	font-family: "OpenDyslexic";
	src: local("OpenDyslexic"),
		URL('#{$font-folder}/OpenDyslexic-Regular.otf'), format('ttf');
}

@font-face {
	font-family: "Lexend";
	src: local("Lexend"),
		URL('#{$font-folder}/Lexend.ttf'), format('ttf');
}

  @mixin roundedCorners ($upper-left-corner: 3px, $upper-right-corner: 3px, $lower-right-corner: 3px, $lower-left-corner: 3px){
	border-radius: $upper-left-corner $upper-right-corner $lower-right-corner $lower-left-corner;
  }