@use "sass:color";

// colors

// blues
$color-primary: #87CEEB;
$color-primary-lightest: color.adjust($color-primary, $lightness: 15%);
$color-primary-lighter: color.adjust($color-primary, $lightness: 10%);
$color-primary-light: color.adjust($color-primary, $lightness: 5%);
$color-primary-dark: color.adjust($color-primary, $lightness: -15%);
$color-primary-darker: color.adjust($color-primary, $lightness: -30%);
$color-primary-darkest: color.adjust($color-primary, $lightness: -50%);

// grays
$color-neutral: #cccccc;
$color-neutral-lightest: color.adjust($color-neutral, $lightness: 15%);
$color-neutral-lighter: color.adjust($color-neutral, $lightness: 10%);
$color-neutral-light: color.adjust($color-neutral, $lightness: 5%);
$color-neutral-dark: color.adjust($color-neutral, $lightness: -5%);
$color-neutral-darker: color.adjust($color-neutral, $lightness: -15%);
$color-neutral-darkest: color.adjust($color-neutral, $lightness: -50%);

// Deeper Grays
$color-utility: #5C5D67;
$color-utility-lightest: color.adjust($color-neutral, $lightness: 15%);
$color-utility-lighter: color.adjust($color-neutral, $lightness: 10%);
$color-utility-light: color.adjust($color-neutral, $lightness: 5%);
$color-utility-dark: color.adjust($color-neutral, $lightness: -5%);
$color-utility-darker: color.adjust($color-neutral, $lightness: -15%);
$color-utility-darkest: color.adjust($color-neutral, $lightness: -50%);

// reds
$color-danger: #bb202e;
$color-danger-lightest: color.adjust($color-danger, $lightness: 45%);
$color-danger-lighter: color.adjust($color-danger, $lightness: 30%);
$color-danger-light: color.adjust($color-danger, $lightness: 5%);
$color-danger-dark: color.adjust($color-danger, $lightness: -5%);
$color-danger-darker: color.adjust($color-danger, $lightness: -15%);
$color-danger-darkest: color.adjust($color-danger, $lightness: -50%);

// purples
$color-tertiary: #a094e8;
$color-tertiary-lightest: color.adjust($color-tertiary, $lightness: 15%);
$color-tertiary-lighter: color.adjust($color-tertiary, $lightness: 10%);
$color-tertiary-light: color.adjust($color-tertiary, $lightness: 5%);
$color-tertiary-dark: color.adjust($color-tertiary, $lightness: -5%);
$color-tertiary-darker: color.adjust($color-tertiary, $lightness: -15%);
$color-tertiary-darkest: color.adjust($color-tertiary, $lightness: -50%);

// oranges
$color-secondary: #FCAF58;
$color-secondary-lightest: color.adjust($color-secondary, $lightness: 15%);
$color-secondary-lighter: color.adjust($color-secondary, $lightness: 10%);
$color-secondary-light: color.adjust($color-secondary, $lightness: 5%);
$color-secondary-dark: color.adjust($color-secondary, $lightness: -5%);
$color-secondary-darker: color.adjust($color-secondary, $lightness: -15%);
$color-secondary-darkest: color.adjust($color-secondary, $lightness: -50%);

// greens
$color-success: #1e9f32;
$color-success-lightest: color.adjust($color-success, $lightness: 50%);
$color-success-lighter: color.adjust($color-success, $lightness: 20%);
$color-success-light: color.adjust($color-success, $lightness: 10%);
$color-success-dark: color.adjust($color-success, $lightness: -10%);
$color-success-darker: color.adjust($color-success, $lightness: -20%);
$color-success-darkest: color.adjust($color-success, $lightness: -50%);

$common-border: 3px solid #2C3D55;
$common-border-radius: 5px;

// font sizes
$font-size: 1rem;
$font-size-small: .8em;
$font-size-medium: 1.2em;
$font-size-large: 1.5em;
$font-size-larger: 2em;
$font-size-largest: 3em;