@import "/src/variables";

.App {
    display: top;
  }


  .App-logo {
      height: 60vmin;
      pointer-events: none;
      z-index: 20;
  }
    
  @media (prefers-reduced-motion: no-preference) {
      .App-logo {
          animation: App-logo-spin infinite 20s linear;
      }
  }
  
  .logobody
  {
      z-index: 20;
  }
    
  .App-header {
      align-items: center;
      background-color: #070707;
      color: #fff;
      display: flex;
      flex-direction: column;    
      font-size: calc(10px + 2vmin);    
      height: 100vh;
      justify-content: center;
  }
    
  .App-link {
      color: #61dafb;
  }
    
  @keyframes App-logo-spin {
      from {
          transform: rotate(0deg);
      }
      to {
          transform: rotate(360deg);
      }
  }

  @font-face {
	font-family: "OpenSans";
	src: local("OpenSans"),
	  URL('/src/fonts/OpenSans-Regular.ttf') 
	  format("truetype");

  }

@font-face {
	font-family: "Berkshire Swash";
	src: local("Berkshire Swash"),
		URL('/src/fonts/BerkshireSwash-Regular.ttf') 
		format("truetype");
}

@font-face {
	font-family: "Walter Turncoat";
	src: local("Walter Turncoat"),
		URL('/src/fonts/WalterTurncoat-Regular.ttf') 
		format("truetype");
}


@font-face {
	font-family: "Kavoon";
	src: local("Kavoon"),
		URL('/src/fonts/Kavoon-Regular.ttf') 
		format("truetype");
}

@font-face {
	font-family: "Rancho";
	src: local("Rancho"),
		URL('/src/fonts/Rancho-Regular.ttf') 
		format("truetype");
}

@font-face {
	font-family: "OpenDyslexic";
	src: local("OpenDyslexic"),
		URL('/src/fonts/OpenDyslexic-Regular.otf') 
		format("truetype");
}

@font-face {
	font-family: "Lexend";
	src: local("Lexend"),
		URL('/src/fonts/Lexend.ttf') 
		format("truetype");
}
