@import "/src/variables";
@import "/src/mixins";

.splitScreen {
    //display: flex;
    //align-content: flex-start;
    box-sizing: border-box;
    //width: 100%;
    //overflow: auto;
    .topPane {
        width: calc(100vw - 500px);
       // display: inline-block;
    }
    .bottomPane {
        right: 0;
        width: 500px;
        position: fixed;
       // display: inline-block;
        .selectionlist-label {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            background-color: $color-primary-lighter;
            font-family: "Warmonger BB", "Roboto", serif;
            font-size: $font-size-large;
            font-weight: bold;
        }
        .selectionlist-list {
            z-index: -1;
        }
    }
}

.table-icon-button {
    color: $color-primary-darker;
    height: 100%;
    vertical-align: middle;
    &:hover {
        color: $color-tertiary-darker;
    }
}

.table-icon-button-small {
    color: $color-primary-darker;
    height: 100%;
    vertical-align: middle;
    &:hover {
        color: $color-tertiary-darker;
    }
}
